#header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  .header {
    width: 100%;
    height: 5vh;
    position: relative;
    top: 0;
    //padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background: rgba(34, 34, 34, 0.3);

    .hbMenu-container {
      width: 100%;
      height: 100px;
      .bm-burger-button {
        position: fixed;
        width: 30px;
        height: 50px;
        right: 500px; /* 원하는 위치 */

        //top: 20px;
        #react-burger-menu-btn {
          height: 50px!important;
          z-index: 9999!important;
          //left:  !important;
          //top: 3%!important;

        }
        .bm-icon {
          position: absolute;
          width: 100%;
          height: 100%;
          color: #fff;
          right: 0px;
          z-index: 0;
        }
      }
      .bm-overlay {
        right: 0;
        width: 550px!important;
        height: 100vh;
        transform: translateX(550px)!important; // 오른쪽 바깥에서 시작
        transition: transform 1s ease-in-out !important;

        &[aria-hidden="false"] {
          transform: translateX(0) !important; // 원래 자리로 슬라이드 인
        }

      }
      .bm-menu-wrap {
        position: fixed;
        width: 550px !important;
        height: 100%;
        top: 0;
        right: 0 !important;

        transform: translateX(550px)!important; // 오른쪽 바깥에서 시작
        transition: transform 1s ease-in-out !important;

        &[aria-hidden="false"] {
          transform: translateX(0) !important; // 원래 자리로 슬라이드 인
        }

        .bm-menu {
          width: 100%;
          background: #373a47;
          //padding: 2.5em 1.5em 0;
          .bm-item-list {
            width: 100%;
            height: 40% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: #b8b7ad;
            margin-top: 25%;
            //padding: 0.8em;
            font-size: 50px;

            .menuBox {
              width: 100%;
              height: 100%;
              display: flex!important;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;

              .menu-item {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }

    }

    .bm-cross-button {
      position: fixed;
      color: #fff;
      width: 35px!important;
      height: 35px!important;
      //font-size: 50px!important;
      right: 50px!important;
      top: 50px!important;

      .react-burger-cross-btn{

      }

      .bm-cross {
        position: absolute;

      }
    }
    }
  }


