.fr-ck-list{
  width: 96%;
  height: 12%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;

  .fr-ck-box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .fr-ck-profile {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #ccc;
    }

    .fr-ck-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .fr-ck-name {
        font-size: 16px;
      }

      .fr-ck-des {
        font-size: 14px;
      }
    }
  }


}